{% extends 'base.html' %}
{% block content %}
{{ user }}
{{ user_servers }}
<div class="jumbotron home-jumbotron">
    <div class="container"></div>
        <div class="row row-centered animated bounceInUp"></div>
        {% for server in user_servers %}
            <div class="col-md-1 col-xs-3 text-center col-centered" style="font-size:13px; color:#FFF;">
                <a href="#" style="color:#FFF">
                    <img {% if server['icon'] %}src="https://cdn.discordapp.com/icons/{{server['id']}}/{{server['icon']}}.jpg"{%endif%}  style="width:100%; border:2px #FFF solid;" class="img-circle" data-toggle="tooltip" title="{{server['name']}}" data-placement="bottom" >
                </a>
            </div>
        {% else %}
            <h3>... It looks like you don't have any servers!</h3>
            <h3>Go create one ! <br/>I'm waiting for you ;) </h3>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}